{
  "presets": [
    [ "env", { "modules": false } ]
  ],
  "plugins": [ "transform-object-rest-spread" ],
  "comments": false,
  "env": {
    "test": {
      "presets": [ "env" ],
      "plugins": [ "istanbul" ]
    }
  }
}
