primary-color = #222
secondary-color = #FF8B6A
idle-background = #F7F7F7
idle-foreground = #706F6F
accent-color = #FF8B6A
very-light-grey = #eeeeee
light-grey = #ccc
main-purple = #a591ff


.link
  color primary-color
